body {
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    background: #4ad;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
}

button:hover {
    background: #6cf;
}

#status {
    margin-top: 20px;
    font-size: 20px;
    color: #ccc;
}
